.header {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 12px;
}

.header > h2 {
  margin: 0;
}

.badge {
  padding: 8px;
  background-color: var(--color-layer-lighter);
  border-radius: 17px;
  line-height: 0;
  color: var(--color-text-light);
}


.badge > span {
  line-height: initial;
  margin-left: 4px;
  margin-right: 4px;
}

.copy {
  cursor: pointer;
  stroke: var(--color-text-light);
}

.copy:hover {
  filter: brightness(1.1);
}

@media screen and (max-width: 500px) {
  .header {
    padding: 30px 15px;
  }
}
