.chart {
  background-image: url(/images/chart-background.png);
  background-size: cover;
  background-color: var(--color-layer-dark);
  box-sizing: border-box;
  grid-area: chart;
  position: sticky;
  top: 0;
  z-index: 1;
  border-top: 1px solid var(--color-layer-lighter);
}

.tooltip {
  border-radius: 5px;;
  padding: 10px;
  background-color: var(--color-layer-darker);
}

.up {
  color: var(--color-green);
  fill: var(--color-green);
}

.down {
  color: var(--color-red);
  fill: var(--color-red);
}

.zero {
  color: var(--color-text-dark);
  fill: var(--color-text-dark);
}
