.chart {
  background-image: url(/images/chart-background.png);
  background-size: cover;
  background-color: var(--color-layer-dark);
  box-sizing: border-box;
  grid-area: chart;
  position: sticky;
  top: 0;
  z-index: 1;
  border-top: 1px solid var(--color-layer-lighter);
}

.tooltip {
  border-radius: 5px;;
  padding: 10px;
  background-color: var(--color-layer-darker);
}

.up {
  color: var(--color-green)
}

.down {
  color: var(--color-red);
}

.zero {
  color: var(--color-text-dark);
}

.up::before {
  margin-right: 2px;
  color: var(--color-green);
  content: "▴";
  font-size: 1.5em;
}

.down::before {
  margin-right: 2px;
  color: var(--color-red);
  content: "▴";
  display: inline-block;
  transform: rotate(180deg);
  font-size: 1.5em;
}

.zero::before {
  margin-right: 2px;
  padding: 4px;
  color: var(--color-text-dark);
  font-weight: bold;
  content: "-";
  font-size: 1.5em;
  vertical-align: middle;
}